@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  