---
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main>
		<HeroSection />
		<PortfolioSection />
	</main>
	<Footer />
</Layout>
